.quseList{
    display: flex;
    justify-content:space-between ;
    width: 260px;
    margin-bottom: 15px;
}
.checkBox{
    width: 15px;
}
.quseListWraper{
    overflow-y: scroll;
    max-height: 320px;
    padding: 15px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 1.5px 0px;
}
.quseListWraper::-webkit-scrollbar {
    width: 4px;
  }
  .quseListWraper::-webkit-scrollbar-thumb {
    background:black;
    border-radius: 5px;
  }
  .quseListWraper::-webkit-scrollbar-track {
    background: gray;
  }

.user_name >input{
    height: 30px;
    width: 300px;
    border: none;
    border-bottom: solid 1px;
    font-size: large;
    background-color: transparent;
    padding-left: 10px;
}
.user_name{
    margin-bottom:10px;
}
.landing{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 340px;
    height: 480px;
    background-color:#fff;
    padding: 20px;
    box-shadow: 0px 0px 5px 0px;
    border-radius: 5px;
    font-size: larger;
}

.selectQues{
    font-size: larger;
    margin-bottom: 10px;
    font-style:bold;
}

.nextBTN{
display: block;
  border: none;
   font-size: large;
   border-radius: 10px;
   padding: 5px 10px;
  margin-top: -5px;
   color: #fff;
   background-color:gray ;
}
.nextBTN:hover{
    background-color: black;
}
.footer{
    margin-top: 20px;
    display: flex; 
    justify-content:space-between;
}










.screenWraper{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 20px;
}
.navigationBarWraper{
    text-align: center;
    width: 25vw;
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px;
    border-radius: 10px;
    padding: 20px;
}
.quesScreen{
    width: 60vw;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px;
    border-radius: 10px;
    padding: 20px;
    height: 85vh;
    position:relative;
}

.mathjax{
    font-size: larger;
    display: flex;
    gap: 1rem;
    margin-left: auto;
    margin-right: auto; 
   
}
.privious,.next{
        display: block;
        border: none;
        background-color: transparent;
        font-size: 45px;
        color: gray;
}

.privious:hover,.next:hover{
    color: black;
}
.NextPriBtns{
    display: flex;
    justify-content:space-between;
    position:absolute;
    bottom: 0;
    padding: 15px;
    width: 93%;
}

.navigationBar{
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}
.navigationBarWraper{
    font-size:larger;
}

.navBtns{
    display: block;  
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: gray;
    color: #fff;
    font-size: larger;
} 
.navBtns:hover{
    background-color: black;
}

.submitWraper{
    position: absolute;
    bottom: 0;
    width:23vw;
    margin-bottom: 50px;
}
.submit{
    display: block;
    border: none;
    font-size: large;
    border-radius: 10px;
    padding: 5px 10px;
    color: #fff;
    background-color:gray ;
    margin-left: auto;
    margin-right: auto;
}
.submit:hover{
    background-color: black;
}

.progessBar{
    width: 100vw;
    display: flex;
    justify-content:center;
    padding: 0px 10px;
    gap: 1rem;
}
.optBar{
    margin-top:17px ;
}




@media screen and (min-width:1050px) {
    .optBar{
        display: none;

    }
    .closeIcon{
        display: none;
    }
    .slideBar{
        display: none;
    }
}
@media screen and (max-width:1050px) {

    .navigationBarWraper{
       display: none;
    }
    .quesScreen{
        width: 85vw;
    }
    .navigationBarWraper>div{
        display: flex;
    }
    .slideBar{
        transition: 1000ms;
        width: 0px;
        position: fixed;
        top: 0;
        height: 80vh;
        overflow: hidden;
        background-color: #fff;
        box-shadow: 0px 0px 5px 0px;
    }
    .upper{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .closeIcon{
        font-size: 25px;
    }
    .submit{
        margin-left: 90px;
    }
    .mathjax{
        
        display: flex;
        margin-left: auto;
        margin-right: auto;
        font-size:15px;
    }

    
}
@media screen and (max-width:520px) {

    .navigationBarWraper{
        display: none;
    }
    .quesScreen{
        min-width: 95vw;
        overflow: auto;
    }
    .mathjax{   
        
        display: flex;
        margin-left: auto;
        margin-right: auto;
        font-size:10px;
    }
    
}
















.finalpage{
    display: flex;
    justify-content: center;
    overflow: auto;
    margin-top: 50px;
    padding: 10px;
    min-width: 280px;
}
.table{
    display: block;
    
    font-size: 15px;
}

.inner_finalpage{
   
    display: flex;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.699);
}
td{
    padding: 5px;
    background-color: #fff;
}
.wraperFinal{
    text-align:center;
    background-color: #fff;
    padding: 18px;
    box-shadow: 0px 0px 5px 0px;
    border-radius: 5px;
}
.wraperFinal>h4{
    margin-bottom: 10px;
    margin-top: 10px;
}







