

.timing-bar{
    display: block;
    margin-top: 20px;
    width:85vw;
    height:10px;
    border-radius:5px ;
    border: solid 1px;
    transition: 2000ms;
}
.timing-bar-inner{
    height: 9px;
    background-color: rgb(62, 61, 61);
    transition: 2000ms;
}
.countdown{
    width: 86vw;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
}